UEM-Samples/Freestyle/macOS-Major-Updates---Freestyle-Orchestrator-Workflow/macOS_Major_Update_1-0-0.json
{"workflow_definition":{"workflow_uuid":"7f74cbd9-90a6-496b-b80e-09aa9d15da8a","organization_group_uuid":"47d29b5f-abad-45e6-a09e-11787099beb6","name":"macOS Major Update","description":"","payload":{"comment":"","starts_at":"check_macos_version StepId:7db12e4f-dde7-4b83-af4f-1cf11947d192","steps":{"check_macos_version StepId:7db12e4f-dde7-4b83-af4f-1cf11947d192":{"choice":{"if":[{"resource":"Sensor","negation":false,"type":"Resource","rules":[{"type":"Resource","criteria":{"value":"os_version","property":"Name","operator":"StringEquals"},"connecting_operator":"And"},{"type":"Resource","criteria":{"value":"13.1\n13.2","property":"Value","operator":"StringNotIncludes"}}]}],"then":[{"choice":{"if":[{"resource":"Sensor","negation":false,"type":"Resource","rules":[{"type":"Resource","criteria":{"value":"update_deadline","property":"Name","operator":"StringEquals"},"connecting_operator":"And"},{"type":"Resource","criteria":{"value":"true","property":"Value","operator":"StringEquals"}}]}],"then":[{"type":"Action","action":{"parameters":{"script_uuid":"e39a05f9-091e-4b09-b38a-0b21e1b72fb3","version_uuid":"00000000-0000-0000-0000-000000000000","script_name":"macos_install_majorupdate"},"action_type":"ExecuteMacOsScript","resource_found":true},"is_skip_enabled":false,"timeout_in_minutes":0,"is_retry_enabled":false,"retry_time_interval_in_minutes":0,"retry_attempts":0,"retry_backoff_rate":0.0,"is_delay_enabled":false,"delay_time_interval_in_minutes":0,"name":"Run macos_install_majorupdate StepId:6643405f-f72c-4ab2-9376-573d1b5867b9","end":true}],"else":{"else_step":[{"type":"Action","action":{"parameters":{"script_uuid":"69c68ebc-3343-4fa7-8264-11fd6b75f31d","version_uuid":"00000000-0000-0000-0000-000000000000","script_name":"macos_notify_majorupdate"},"action_type":"ExecuteMacOsScript","resource_found":true},"is_skip_enabled":false,"timeout_in_minutes":0,"is_retry_enabled":false,"retry_time_interval_in_minutes":0,"retry_attempts":0,"retry_backoff_rate":0.0,"is_delay_enabled":false,"delay_time_interval_in_minutes":0,"name":"Run macos_notify_majorupdate StepId:6e17c226-1805-42ec-baaf-5eaef3c0e950","end":true}]},"policy":{"reevaluate_condition":false,"evaluate_condition_even_without_user_context":false}},"type":"ChoiceV2","name":"notify_or_install StepId:9d0fe346-fe1f-43f9-9e3d-07bf471a550c","end":true}],"policy":{"reevaluate_condition":false,"evaluate_condition_even_without_user_context":false}},"type":"ChoiceV2","name":"check_macos_version StepId:7db12e4f-dde7-4b83-af4f-1cf11947d192","end":true}},"is_imported":false},"definition":{"definition":{"Comment":"","StartAt":"ImplicitStep-RunSensor-os_version","States":{"Run macos_install_majorupdate StepId:6643405f-f72c-4ab2-9376-573d1b5867b9":{"End":true,"Parameters":{"ScriptUUID":"e39a05f9-091e-4b09-b38a-0b21e1b72fb3","VersionUUID":"00000000-0000-0000-0000-000000000000"},"Resource":"ws1:activity:Mac.ExecuteScript","TimeoutSeconds":0,"Type":"TASK"},"Run macos_notify_majorupdate StepId:6e17c226-1805-42ec-baaf-5eaef3c0e950":{"End":true,"Parameters":{"ScriptUUID":"69c68ebc-3343-4fa7-8264-11fd6b75f31d","VersionUUID":"00000000-0000-0000-0000-000000000000"},"Resource":"ws1:activity:Mac.ExecuteScript","TimeoutSeconds":0,"Type":"TASK"},"notify_or_install StepId:9d0fe346-fe1f-43f9-9e3d-07bf471a550c":{"Choices":[{"Next":"Run macos_install_majorupdate StepId:6643405f-f72c-4ab2-9376-573d1b5867b9","And":[{"And":[{"Variable":"$.device_state.segments.sensor.attributes.sensors[?(@.name == 'update_deadline')].name","StringEquals":"update_deadline"},{"Variable":"$.device_state.segments.sensor.attributes.sensors[?(@.name == 'update_deadline')].value","StringEquals":"true"}]}],"EvaluateConditionEvenWithoutUserContext":false}],"Default":"Run macos_notify_majorupdate StepId:6e17c226-1805-42ec-baaf-5eaef3c0e950","End":false,"TimeoutSeconds":0,"Type":"CHOICE"},"check_macos_version StepId:7db12e4f-dde7-4b83-af4f-1cf11947d192":{"Choices":[{"Next":"notify_or_install StepId:9d0fe346-fe1f-43f9-9e3d-07bf471a550c","And":[{"And":[{"Variable":"$.device_state.segments.sensor.attributes.sensors[?(@.name == 'os_version')].name","StringEquals":"os_version"},{"Variable":"$.device_state.segments.sensor.attributes.sensors[?(@.name == 'os_version')].value","StringNotIncludes":"[\"13.1\",\"13.2\"]"}]}],"EvaluateConditionEvenWithoutUserContext":false}],"End":false,"TimeoutSeconds":0,"Type":"CHOICE"},"ImplicitStep-RunSensor-os_version":{"End":false,"Next":"ImplicitStep-RunSensor-update_deadline","Parameters":{"SensorUUID":"d14dfc60-2a84-4604-a5a8-7b7e1a7706d5","VersionUUID":"b0457631-1189-4d7f-b3ce-ec2cd174d59e"},"Resource":"ws1:activity:RunSensor","TimeoutSeconds":0,"Type":"TASK"},"ImplicitStep-RunSensor-update_deadline":{"End":false,"Next":"check_macos_version StepId:7db12e4f-dde7-4b83-af4f-1cf11947d192","Parameters":{"SensorUUID":"f163d404-4b6a-4679-8ef6-7a819f800e2a","VersionUUID":"8213be97-d323-41bd-8d87-5348d512c02f"},"Resource":"ws1:activity:RunSensor","TimeoutSeconds":0,"Type":"TASK"}},"Version":"2"},"id":"7f74cbd9-90a6-496b-b80e-09aa9d15da8a","version_id":"fd15ba87-2917-4424-a571-a907e926111d"},"created_on":"2023-02-28T20:57:45.79","created_by":"2de7855f-f3b1-45dc-80d4-8fcd2c711cf4","modified_on":"2023-02-28T20:57:53.55","modified_by":"2de7855f-f3b1-45dc-80d4-8fcd2c711cf4","version":"fd15ba87-2917-4424-a571-a907e926111d","device_type":"AppleOsX","type":"Default","structured_payload_version":2,"catalog_display":{"display_images":[{"href":"","use_default":true}],"categories":[],"display_name":"","display_description":""},"implicit_workflow":false,"workflow_entities":[{"EntityType":3,"EntityUuid":"e39a05f9-091e-4b09-b38a-0b21e1b72fb3"},{"EntityType":3,"EntityUuid":"69c68ebc-3343-4fa7-8264-11fd6b75f31d"},{"EntityType":4,"EntityUuid":"f163d404-4b6a-4679-8ef6-7a819f800e2a"},{"EntityType":4,"EntityUuid":"d14dfc60-2a84-4604-a5a8-7b7e1a7706d5"}],"change_log_description":"","version_id":2,"workflow_attributes":[]},"scripts":[{"script_uuid":"e39a05f9-091e-4b09-b38a-0b21e1b72fb3","name":"macos_install_majorupdate","description":"","platform":10,"is_idempotent":false,"allowed_in_catalog":false,"script_data":"IyEvYmluL2Jhc2gKCiMgbm90aWZ5IHRoZSB1c2VyIG9mIGltcGVuZGluZyB1cGRhdGUgYW5kIHJlc3RhcnQKL3Vzci9sb2NhbC9iaW4vaHViY2xpIG5vdGlmeSAtdCAiVXBncmFkZSB0byBtYWNPUyBWZW50dXJhIiAtcyAiQW4gdXBkYXRlIGlzIHJlcXVpcmVkIGZvciB5b3VyIGRldmljZS4iIC1pICJZb3VyIG1hY2hpbmUgd2lsbCByZXN0YXJ0IGF1dG9tYXRpY2FsbHkuIFRoaXMgbWF5IHRha2UgdXAgdG8gMSBob3VyLiIKCiMgaW5pdGlhdGUgdGhlIGRvd25sb2FkIG9mIHRoZSB1cGRhdGUgYW5kIHJlc3RhcnQgdGhlIGRldmljZSB0byBjb21wbGV0ZSB0aGUgdXBkYXRlCi91c3IvbG9jYWwvYmluL2h1YmNsaSBtZG1jb21tYW5kIC0tb3N1cGRhdGUgLS1wcm9kdWN0dmVyc2lvbiAxMy4xIC0taW5zdGFsbGFjdGlvbiBJbnN0YWxsQVNBUA==","timeout":30,"script_type":3,"execution_context":2,"platform_architecture":1,"script_variables":[],"user_interaction":false},{"script_uuid":"69c68ebc-3343-4fa7-8264-11fd6b75f31d","name":"macos_notify_majorupdate","description":"","platform":10,"is_idempotent":false,"allowed_in_catalog":false,"script_data":"IyEvYmluL2Jhc2gKCi91c3IvbG9jYWwvYmluL2h1YmNsaSBub3RpZnkgLXQgIlVwZ3JhZGUgdG8gbWFjT1MgVmVudHVyYSIgLXMgIlRoaXMgbWF5IHRha2UgdXAgdG8gMSBob3VyLiIgLWkgIllvdXIgbWFjaGluZSB3aWxsIHJlc3RhcnQgYXV0b21hdGljYWxseS4gWW91IHdpbGwgYmUgbm90aWZpZWQgd2hlbiB5b3VyIGRldmljZSB3aWxsIGJlIHJlc3RhcnRlZC4gWW91IGhhdmUgdW50aWwgRmViLiAyOHRoIHRvIHVwZGF0ZSB5b3VyIGRldmljZS4iIC1hICJCZWdpbiIgLWIgIi91c3IvbG9jYWwvYmluL2h1YmNsaSBtZG1jb21tYW5kIC0tb3N1cGRhdGUgLS1wcm9kdWN0dmVyc2lvbiAxMy4xIC0taW5zdGFsbGFjdGlvbiBJbnN0YWxsQVNBUCIgLWMgIlVwZGF0ZSBMYXRlciI=","timeout":30,"script_type":3,"execution_context":2,"platform_architecture":1,"script_variables":[],"user_interaction":false}],"sensors":[{"sensor_uuid":"f163d404-4b6a-4679-8ef6-7a819f800e2a","name":"update_deadline","description":"","platform":10,"query_type":3,"query_response_type":1,"execution_context":"System","execution_architecture":4,"script_data":"IyEvYmluL2Jhc2gKCiMgZW50ZXIgdGhlIHJlcXVpcmVkIGRhdGUgb24gd2hpY2ggdGhlIHVwZGF0ZSBtdXN0IGJlIGluc3RhbGxlZC4gRW50ZXIgdGhlIGRhdGUgYXMgWVlZWU1NREQKdXBkYXRlX2RlYWRsaW5lPTIwMjMwMjAxCgojIGdldHMgY3VycmVudCBkYXRlIGZyb20gdGhlIGRldmljZQpjdXJyZW50X2RhdGU9JChkYXRlICsiJVklbSVkIikKCiMgY29tcGFyZXMgY3VycmVudCBkYXRlIHRvIHRoZSByZXF1aXJlZCBpbnN0YWxsIGRhdGUgCmlmIFtbICIkY3VycmVudF9kYXRlIiA+ICIkdXBkYXRlX2RlYWRsaW5lIiBdXSA7CnRoZW4KICAgIGVjaG8gInRydWUiCmVsc2UKCWVjaG8gImZhbHNlIgpmaQ==","script_environment_variables":[]},{"sensor_uuid":"d14dfc60-2a84-4604-a5a8-7b7e1a7706d5","name":"os_version","description":"","platform":10,"query_type":3,"query_response_type":1,"execution_context":"System","execution_architecture":4,"script_data":"IyEvYmluL2Jhc2gKCm9zdmVycz0kKC91c3IvYmluL3N3X3ZlcnMgLXByb2R1Y3RWZXJzaW9uKQplY2hvICRvc3ZlcnM=","script_environment_variables":[]}]}